<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{csrfToken}}">
        <title>StudyLink</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>