.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
  }
  .carousel_img {
    width: 100%;
    height: auto;
  }


  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

 .logo {
    height: 73px;
    background-repeat: no-repeat;
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }